*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color1:#733A19;
    --color2:#D9BD9C;
    --color3:#D9D9D9;
    --color4:#262626;
}
main{
    min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.4),rgba(5,7,12,0.4)),
    url(https://images.inc.com/uploaded_files/image/1920x1080/coffee_30024.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}
#contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#navegador{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
    border: 1px solid white;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 20px;
}
.menu li{
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}
.menu li a:hover{
    opacity: 0.5;
}
h1{
    font-size: 5em;
    letter-spacing: 7px;
    padding: 20px;
    font-style: italic;
    text-align: center;
}


h1 a{
    color: var(--color4);
    text-decoration: none;
}
h1 a:hover{
    opacity: 50%;
}




#contenido{
    padding: 20px;
}
#bebe img{
    width: 100%;
}

span{
    font-style: oblique;
    opacity: 0.75;
}
#cafe{
    width: 50%;
    margin: auto;
    height: 2500px;
}
#cafe nav ul a{
    color: blue;
}
#caf{
    border-bottom: 2px solid tomato;
}
h2{
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
}
figure{
    float: right;
}
#foto{
    width: 50px;
    border-radius: 50%;
}
figure{
    float: right;
    text-align: center;
    font-size: 0.8em;
    color: #733A19;
}
#contenido p{
    text-align: justify;
    padding: 20px;
    color: var(--color1);
}
#cafeina{
    float: right;
    margin: 10px;
}
#taza{
    float: left;
    margin: 10px;
}





#galeria{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    margin: 10px;
    text-align: center;
}
.item img{
    width: 100%;
    box-shadow: 5px 5px 5px var(--color4);
}
.item a{
    opacity: 0.7;
}
.item a:hover{
    opacity: 1;
}
#contenido .item p{
    text-align: center;
    color: var(--color1);
    font-style: italic;
    font-size: 25px;
}


.video{
    border: 4px double var(--color4);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 10px;
    box-shadow: 5px 5px 5px var(--color4);
    z-index: 10;
}
.video iframe{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.redes{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.redes li a{
    padding: 10px;
}
.redes li a:hover{
    opacity: 0.5;
}



h3{
    border: 1px solid black;
    height: 50px;
    text-align: center;
    background-color: tomato;
    color: white;
    
}
.caja2 h4{
    margin-left: 20px;
    margin: 20px;
}
.caja2 p{
    width: 700px;
}
.caja3 img{
    margin: 20px;
    border: dotted tomato;
    padding: 10px;
}
.caja4 img{
    height: 600px;
    width: 200px;
    float: right;
    margin-top: -621px;
    margin-right: 1px;
}
div{
    margin-top: 10px;
}
hr{
    border: 1px  solid tomato;
    margin-left: 20px;
}